.page {
  max-width: 1440px;
  margin: 0px auto;
  padding: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .page__name_filter {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}