.sale_container {
    max-width: 1440px;
    margin: 30px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    padding: 20px 0;
}

.sale_products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .sale_products {
        grid-template-columns:  1fr;
    }
    .title {
    font-size: 23px;

    }
  }