.discount_section {
  background: linear-gradient(262.69deg, #339933 -0.43%, #006300 104.36%);
  height: fit-content;
  margin-top: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 20px;
}

.discount_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.p_1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.p_2 {
  margin-top: -40px;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.number {
  background: #ffffff;
  border-radius: 25.1468px;
  width: 473px;
  height: 75.44px;
  border: none;
  font-size: 30px;
  padding-left: 50px;
}

.number:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn_discount {
  font-style: normal;
  font-weight: 700;
  font-size: 28.7392px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 473px;
  height: 75.44px;
  border: 2.39494px solid #ffffff;
  border-radius: 25.1468px;
  background: none;
  cursor: pointer;
}

.btn_discount:hover {
  border: 5px solid #ffffff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media only screen and (max-width: 768px) {
  .picture {
    height: 200px;
  }

  .p_1, .p_2 {
    font-size: 30px;
  }
}
