.header {
  height: 110px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 100px 200px 1fr 50px;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.logo {
  padding: 20px;
  cursor: pointer;
}

.btn_catalog {
  background-color: #339933;
  border: none;
  border-radius: 5px;
  color: white;
  height: 50px;
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
}

.btn_catalog:hover {
  font-weight: 600;
  -webkit-box-shadow: 6px 6px 7px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 6px 6px 7px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 6px 6px 7px 4px rgba(34, 60, 80, 0.2);
}

.navigation {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 50px;
}

.navigation .link {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

.active {
  border-radius: 6px;
  background-color: white;
  color: #339933;
  font-weight: 600;
  box-shadow: inset -4px -4px 4px rgba(173, 173, 173, 0.25),
    inset 4px 4px 4px #cabdbd;
}

.navigation a:hover {
  color: #339933;
}

.btn_cart {
  cursor: pointer;
}

.cart_container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.cart_item_count_badge {
  position: absolute;
  bottom: -5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: green;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  font-weight: 600;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.burger_menu {
  display: none;
  cursor: pointer;
}

.burger_line {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    grid-template-columns: 100px 1fr 50px 50px;
  }

  .navigation {
    display: none;
  }

  .burger_menu {
    display: block;
  }

  .navigation.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    background-color: rgba(51, 153, 51, 0.7);
    top: 110px;
    margin: 0;
    right: 0;
    width: 50%;
    padding: 20px;
    z-index: 1;
    border-radius: 5px;
  }
  .navigation.open a {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .burger_line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
}
